<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="home.html" />
            </files>
        </defaultDocument>
<rewrite>
    <rules>
        <rule name="Reverse Proxy to metrics" stopProcessing="true">
            <match url="^system/v1/metrics/(.*)" />
            <action type="Rewrite" url="http://localhost:9000/{R:1}" />
        </rule>
        <rule name="Reverse Proxy to pkgpanda" stopProcessing="true">
            <match url="^pkgpanda/(.*)" />
            <action type="Rewrite" url="http://localhost:9001/{R:1}" />
        </rule>
        <rule name="Reverse Proxy to log" stopProcessing="true">
            <match url="^system/v1/logs/(.*)" />
            <action type="Rewrite" url="http://localhost:9002/{R:1}" />
        </rule>
        <rule name="Reverse Proxy to diagnostics" stopProcessing="true">
            <match url="^system/health/v1/(.*)" />
            <action type="Redirect" url="http://localhost:9003/{R:0}" logRewrittenUrl="true" />
        </rule>
    </rules>
</rewrite>
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions statusCodes="200-999" />
                </add>
            </traceFailedRequests>
        </tracing>

    </system.webServer>
</configuration>